/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@font-face {
    font-family: "Serpentine";
    src: url("fonts/Serpentine-Light.otf");
}

body {
    background-image: url('img/bg.png');
    margin: 0px auto;
    padding: 0px;
}

.judul {
    margin: auto;
    text-align: center;
    padding: 20px;
}

.judul img {
    width: 400px;
}

.container {
    background-color: rgba(0, 0, 0, 0.4);
    margin: auto;
    width: 900px;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    background-color: seashell;
    width: 180px;
    margin: 10px 0;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    font-family: "Serpentine";
    border-radius: 10px;
}

.card h2 {
    font-size: 1.5rem;
    font-weight: bold;
}

.card h4 {
    margin: 5px auto;
    width: 35px;
    line-height: 35px;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 50%;
    background-color: rgb(33, 118, 197);
}

.card h4 span {
    background: linear-gradient(180deg, rgba(235, 236, 88, 1) 0%, rgba(250, 167, 63, 1) 80%, rgba(250, 160, 53, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card img {
    width: 150px;
    padding: 10px 0;
}