body {
    margin: 0;
    padding: 0;
    font-family: 'Calibri';
    color: white;
    font-weight: bold;
    font-size: 32px;
}

.container {
    width: 900px;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-areas:    "header header"
                            "aside main"
                            "nav main"
                            "footer footer" ;
    grid-template-columns: 1fr 1.8fr;
    grid-template-rows: 1fr 1fr 1.5fr;
}

header {
    grid-area: header;
    background-color: lightskyblue;
}

aside {
    grid-area: aside;
    background-color: lightpink;
    line-height: 150px;
}

main {
    grid-area: main;
    background-color: orangered;
}

nav {
    grid-area: nav;
    background-color: lawngreen;
}

footer {
    grid-area: footer;
    background-color: gray;
}