<div class="row">
    <div class="col text-center">
        <img src="me.png" alt="Gilman Firdaus" class="shadow-sm rounded-circle mb-3" width="200px">
        <h2>Gilman Firdaus</h2>
        <h5>Full-Stack Javascript Web Developer</h5>
    </div>
</div>