<h2 class="mb-4">Detail Contact</h2>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">
            <%= contact.nama %>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted">
            <%= contact.email %>
        </h6>
        <p class="card-text">
            <%= contact.hp %>
        </p>
        <a href="/contact" class="card-link">Kembali</a>
    </div>
</div>